@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Manrope', sans-serif;
}

#__next {
    @apply flex flex-col
    min-h-screen;
}

::selection {
    @apply bg-pri-4/30
    dark:bg-pri-5/30;
}

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    @apply bg-gris-1
    dark:bg-gris-9
    w-3;
}

::-webkit-scrollbar-thumb {
    @apply bg-gris-3/50
    dark:bg-gris-7/50

    hover:bg-gris-4/50
    hover:dark:bg-gris-6/50

    active:bg-gris-4/70
    active:dark:bg-gris-6/70
    
    rounded-xl;
}

.videos-container::-webkit-scrollbar {
    @apply w-0;
}
